*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
chart.html
chart.png
website-report.html
usage-summary-chart.html
usage-summary-chart.png
sumary-table.html
summary-table.html
